#navbar{
    z-index: 1;

}



@media(max-width: 768px){
    .customNav{
    justify-content: center!important;
    }
}

.custom {
    margin-top: 16%;
    width: 3vw ;
    height: 5vw ;
    border-radius: 0% 25% 25% 0%!important;
    opacity: 1 !important;
    background: #DB812D!important;
}

@media(max-width: 768px){
    .custom{
    width: 7vw;
    height: 9vw;
    }
}

.custom2 {
    margin-top: 16%;
    width: 3vw;
    height: 5vw;
    border-radius: 25% 0 0 25% !important;
    opacity: 1;
    background: #DB812D!important;
}

@media(max-width: 768px){
    .custom2{
    width: 7vw;
    height: 9vw;
    }
}

.bg-custom{
    background: #DB812D!important;
}


.tituloLojas{
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    padding-top: 2vw;
    color: white;
    
}

@media (max-width: 768px){
    .tituloLojas{
        font-size: 8vw;
    }
}



.btnLojas{
    width: 20vw;
    height: 3vw;
    font-size: 1.5vw;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 1vw 1vw 1vw 1vw  !important;
    margin-bottom: 2vw;
}

@media (max-width: 768px){
    .btnLojas{
        width: 50vw;
        height: 8vw;
        font-size: 4vw;
        border-radius: 2vw 2vw 2vw 2vw  !important;
    }
}

.titlePromo{
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
    color: #DB812D;
    font-style: normal;
    
}

@media (max-width: 768px){
    .titlePromo{
        font-size: 8vw;
    }
}


.contCustom{
    padding: 0px;
    margin: 0px;

}

.carouselCustom{
    width: 20vw;
    height: 20vw;
}

.cinemarkPromo{
    display: flex;
    align-items: center;
    flex-direction: column;
}


#carouselCinemark{
    width: 15vw;
}



.owlCustom{
    max-width: 50vw!important;
    
}

.owl-dot.active span{
    background: #154C82!important;
}

.owl-dot span{
    margin: 5px 0px!important;
    border-radius: 0px!important;
    width: 10vw!important;
    height: 1vw!important;
}

@media(max-width: 768px){
    .owl-theme .owl-dots, .owl-theme .owl-nav{
    display: flex;
    justify-content: center;
    }
}

.footer{
    background: #333333;
}




.footerText{
    color: white;
    font-weight: lighter!important;
    display: flex!important;
    width: max-content!important;
    margin: 0px!important;
}
a{
    color: white;
    font-weight: lighter!important;
    display: flex!important;
    width: max-content!important;
    margin: 0px!important;
    text-decoration: none;
}
a:hover{
    color: white!important;
    text-decoration: underline; 
}


@media(max-width: 768px){
    .row1{
    flex-direction: column
    }
}

@media(max-width: 768px){
    .logoFooter{
    justify-content: center;
    padding-bottom: 70px;
    }
}